# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.xcscmblueprint

# Xcode build data
DerivedData/
build/
*.moved-aside

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
